@media screen and (max-width:900px){

#main1{
	float:left;
}
#nav{
	height:100px;
	background-color:green;
	border:1px solid black;
}
div ul{
	
	width:100%;
	margin-left:10px;
	

}
div  #nav ul li{
	width:33%;
	
	}


img{
	width:100%;
	height:100%;
}
.first{
	width:48%;
	float:left;
		margin:2px;
}
.second{
	width:48%;
	float:left;
	margin:2px;
	}
.third{
	width:100%;
	margin-right:5px;
	}
#main2{

	clear:both;
}
.main2div1{
	width:59%;
	height:60%;
	float:left;
	margin-right:10px;
}
.main2div2{
	margin-left:5px;
	width:38%;
	height:40%;
	float:left;
	
}
.main2div2div1{
	background-color:pink;
}
.main2div2div2{
	background-color:green;
}
.main2div2div3{
	background-color:green;
	
}
.footer{
	text-align:center;
	clear:both;
}


}

